
<%= form_with model: programme, class: "flex_cols" do |form| %>

   <div class="form_row">
      <%= form.label :title %>
     <%= form.text_field :title, onkeydown: "HelperJS.enable_btn('submit_new_btn')" %>
   </div>

   <div class="form_row">
      <%= form.label "Tagline" %>
      <%= form.text_area :tagline, rows: 3 %>
   </div>
 
   <div class="flex align_end">
      <%= form.submit id: "submit_new_btn" , class: "inactive_btn" %>
      <%= link_to "Cancel", programme, class:"action_link " %>
   </div>
   
 <% end %>
 