<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <h4 class="light_grey_text">Home</h4>
         <h1>WayStation</h1>
      </div>
   </section>

   
   <% # artifact index list %>
   <section>
      <h3 class="grey_text">Programmes</h3>
      <ul class="in_page_artifacts_list">
         <% @programmes.each do |programme| %>
            <%= link_to programme do %>
               <li>
                  <div><!-- checkbox placeholder --></div>

                  <div><%= programme.title %></div>
                  <% if(programme.tagline.nil? || programme.tagline == "") then  %>
                     <div>&nbsp;</div>
                  <% else %>
                     <div><%=programme.tagline%></div>
                  <% end %>

                  <div><%= programme.created_at.strftime("%a %-d %b %Y %H:%M") %></div>
                  
                  <% # to do : move to shared partial : rollout : need to pass link resolution data.. %>
                  <% if(programme.creators.length > 0) then %>
                     <ul> 
                        <% programme.creators.distinct.pluck(:name,:id).each do |name, id| %>
                           <li><%= link_to name, user_path(id) %></li>
                        <% end %>
                     </ul>
                  <% end %>
                  
                  <% if(programme.users.length > 0) then %>
                     <ul class="flex flex_col"> 
                        <% programme.users.distinct.pluck(:name).each do |name| %>
                           <li>[<%=name%>]</li>
                        <% end %>
                     </ul>
                  <% end %>

               </li>
            <% end %>
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New programme", new_programme_path, class: "action_link" if authenticated? %>
      </div>
   </section>


</section>