<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <h4 class="light_grey_text">Home</h4>
         <h1>WayStation</h1>
      </div>
   </section>

   <%
   # to do :  review console output -
   #         calling SELECT "action_text_rich_texts" too many times? necessary? 
   #         can do more efficiently? 
   %>

   <% # artifact index list %>
   <section>
      <h3 class="grey_text">Programmes</h3>
      <ul class="in_page_artifacts_list">
         <% @programmes.each do |programme| %>
            <%= link_to programme do %>
               <li>
                  <div><!-- checkbox placeholder --></div>
                  <%= programme.title %>
                  <% if(programme.tagline.nil? || programme.tagline == "") then  %>
                     <span>&nbsp;</span>
                  <% else %>
                     <span><%=programme.tagline%></span>
                  <% end %>
                  <%= programme.created_at.strftime("%a %-d %b %Y %H:%M") %>
               </li>
            <% end %>
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New programme", new_programme_path, class: "action_link" if authenticated? %>
      </div>
   </section>


</section>