<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <h4 class="light_grey_text">Home</h4>
         <h1>WayStation</h1>
      </div>
   </section>


   <% # artifact index list %>
   <section>
      <h3 class="grey_text">Programmes</h3>
      <ul class="in_page_artifacts_list">
         <% @programmes.each do |programme| %>
            <%= link_to programme do %>
               <li>
                  <%= programme.title %>
                  <% if(programme.desc.nil?) then  %>
                     <span>&nbsp;</span>
                  <% else %>
                     <%=programme.desc%>
                  <% end %>
                  <%= programme.created_at.strftime("%a %-d %b %Y %H:%M") %>
               </li>
            <% end %>
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New programme", new_programme_path, class: "action_link" if authenticated? %>
      </div>
   </section>


</section>