<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <h4 class="light_grey_text">Home</h4>
         <h1>WayStation</h1>
      </div>
   </section>

   
   <% 
   # artifact index list 
   # we can't next .each do w/out breaking link_to structure, so we don't inc. links to users in these line items
   %>
   <section>
      <h3 class="grey_text">Programmes</h3>
      <ul class="in_page_artifacts_list">
         <% @programmes.each do |programme| %>
            <%= link_to programme do %>
               <li>
                  <div><!-- checkbox placeholder --></div>
                  <%= programme.title %>
                  <% if(programme.tagline.nil? || programme.tagline == "") then  %>
                     <span>&nbsp;</span>
                  <% else %>
                     <span><%=programme.tagline%></span>
                  <% end %>
                  <%= programme.created_at.strftime("%a %-d %b %Y %H:%M") %>
                  
                  <% # to do : tidy display - but we can't do a ''.each do' here - it messes w/ containing ''.each do' %>
                  <% if(programme.creators.length > 0) then %>
                     <div> 
                        <%= programme.creators.distinct.pluck(:name) %>
                     </div>
                  <% end %>
                  <% if(programme.users.length > 0) then %>
                     <div><%= programme.users.distinct.pluck(:name) %></div>
                  <% end %>

               </li>
            <% end %>
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New programme", new_programme_path, class: "action_link" if authenticated? %>
      </div>
   </section>


</section>