<section>

   <section class="artifact_bar">
      <div>
         <%= link_to programmes_path, class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="light_grey_text">Programmes</span></h4>
         <% end %>
         <h1><!--span class="light_grey_text">Programme</span--> <%= @programme.title %></h1>
      </div>
   </section>
      
   <p><%= @programme.desc%></p>

   

   <!--<%= link_to "New project", new_project_path(programme_id:@programme.id) if authenticated? %>-->
   
   <section class="artifacts_list">
      <h3 class="grey_text">Projects</h3>
      <ul>
         <% @projects.each do |project| %>
            <li><%= link_to project.title, project %></li>
         <% end %>
      </ul>
      <%= link_to "New project", new_project_path(programme_id:@programme.id), class: "action_link"  if authenticated? %>
   </section>
   <section class="flex">
      <%= button_to "Delete", @programme, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_programme_path(@programme) , class: "action_link" if authenticated? %>
   </section>

   <section>
      <%= link_to "All Programmes", programmes_path %>
   </section>

   <section>
      <ul>
         <% @comments.each do |comment| %>
            <!--li><%= link_to comment.title, comment %></li-->
            <li class="card">
               <div class="card_title_bar"><%=comment.title%></div>
               <div class="card_content"><%= comment.content %></div>
            </li>
         <% end %>
         <%= link_to "New comment", new_comment_path(commentable_id:@programme.id, commentable_type:"Programme") , class: "action_link"  if authenticated? %>
      <ul>
   </section>

</section>