<section>

   <section class="artifact_bar">
      <div>
         <%= link_to programmes_path, class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="grey_text">Programmes</span></h4>
         <% end %>
         <h1><span class="grey_text">Programme</span> <%= @programme.title %></h1>
      </div>
      <%= link_to "New project", new_project_path(programme_id:@programme.id), class: "action_link"  if authenticated? %>
   </section>
      
   <p><%= @programme.desc%></p>

   

   <!--<%= link_to "New project", new_project_path(programme_id:@programme.id) if authenticated? %>-->
   
   <section class="artifacts_list">
      <h3>Projects</h3>
      <ul>
         <% @projects.each do |project| %>
            <li><%= link_to project.title, project %></li>
         <% end %>
      </ul>
   </section>
   
   <section>
      <%= link_to "Back to Programmes List", programmes_path %>
      <%= link_to "Edit", edit_programme_path(@programme) %>
   </section>

   <section>
      <%= button_to "Delete", @programme, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
   </section>

   
</section>