<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <%= link_to programmes_path, class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="light_grey_text">Programmes</span></h4>
         <% end %>
         <h1><span class="light_grey_text">Programme</span> <%= @programme.title %></h1>
      </div>
   </section>


   <% # artifact desc %>
   <p><%= @programme.desc%></p>   


   <!--<%= link_to "New project", new_project_path(programme_id:@programme.id) if authenticated? %>-->
   
   
   <% # artifact childrens list %>
   <section>
      <h3 class="grey_text">Projects</h3>
      <ul class="in_page_artifacts_list">
         <% @projects.each do |project| %>

            <%= link_to project do %>
               <li>
                  <div><!-- checkbox placeholder --></div>
                  <%= project.title %>
                  <% if(project.desc.nil?) then  %>
                     <span>&nbsp;</span>
                  <% else %>
                     <%=project.desc%>
                  <% end %>
                  <%= project.created_at.strftime("%a %-d %b %Y %H:%M") %>
               </li>
            <% end %>
         
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New project", new_project_path(programme_id:@programme.id), class: "action_link"  if authenticated? %>
      </div>
   </section>


   <% # artifact ctrls %>
   <section class="flex align_end">
      <%= button_to "Delete", @programme, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_programme_path(@programme) , class: "action_link" if authenticated? %>
   </section>
   <section>
      <%= link_to "All Programmes", programmes_path %>
   </section>


   <% # artifact comments %>
   <%= render partial: "comments", locals: {  } %>


</section>