<%= form_with model: task do |form| %>
   
   <div class="form_row">
     <%= form.label :title %>
     <%= form.text_field :title %>
   </div>

   <div class="form_row">
      <%= form.label :desc %>
      <div><%= form.rich_text_area :desc %></div>
   </div>
 
   <div class="form_row">
     <%= form.label :project_id %>
     <%= form.text_field :project_id, value:@project_id, readonly: true %>
   </div>

   <div>
     <%= form.submit %>
   </div>
 <% end %>
 