<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <%= link_to project_path(@project), class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="light_grey_text">Project</span> <%= @project.title %></h4>
         <% end %>
         <h1><span class="light_grey_text">Task</span> <%= @task.title %></h1>
         <!--h3><span class="light_grey_text">id</span> <%= @task.id %></h3-->
      </div>
   </section>
         
   <% # artifact desc %>
   <div class="border px_1 mb_1 grey_text"> <p><%= @task.desc%></p></div>


   <% # artifact childrens list %>
   <section>
      <h3 class="grey_text">Todos</h3>
      <ul class="in_page_artifacts_list todos_list">

         <% @todos.each do |todo| %>

            <!-- - -----------------------------------------------------------
            
               to do : prevent checkbox activating this containing anchor 
                       otherwise, we have to limit link_to around title only
               
            -------------------------------------------------------------  -->
            <%= link_to todo do %>
            <li class="">

               <%= form_for todo, remote: true do |f| %>
                  <!-- don't let this influence container grid -->
                  <input type="hidden" name="authenticity_token" value={csrf} />

                  <% 
                     # set checkbox according to absence/presence of a done_at value
                     has_done_at = false
                     if(!todo.done_at.nil?) then 
                        has_done_at = true
                     end

                     # create btn id
                     btn_id = "todo_" + todo.id.to_s + "_update_btn"
                  %>

                  <div><%= f.checkbox :done_at, { checked: has_done_at, onclick: "HelperJS.enable_btn('#{btn_id}')" } %> </div>
                  <div><%= f.label :done_at, todo.title, class: "fit_content" %></div>

                  <div>&nbsp;</div>
                  <div><%= f.submit id: btn_id, class: "inactive_btn" %></div>      


               <% end %>
            </li>
            <% end %>

         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New todo", new_todo_path(task_id:@task.id) , class: "action_link "  if authenticated? %>
      </div>
   </section>

   <% # artifact ctrls %>
   <section class="flex align_end">
      <%= button_to "Delete", @task, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_task_path(@task, project_id:@project.id), class: "action_link" if authenticated? %>
   </section>
   <section>
      <!-- alternative: <%= link_to "Back to parent project",  project_path(@project) %>-->
      <%= link_to "Back to parent project", @project %>
      <%= link_to "All Tasks", tasks_path %>
   </section>
   

   <% # artifact comments %>
   <!% # we need to inc. 'partial' keyword to get the locals to work here.. %>
   <%= render partial: '/shared/comments', locals: { commentable_id: @task.id, commentable_type: 'Task'}  %>


</section>