<section>

   <section class="artifact_bar">
      <div>
         <%= link_to project_path(@project), class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="light_grey_text">Project</span> <%= @project.title %></h4>
         <% end %>
         <h1><span class="light_grey_text">Task</span> <%= @task.title %></h1>
         <!--h3><span class="light_grey_text">id</span> <%= @task.id %></h3-->
      </div>
   </section>
         
   <div class="border px_1 mb_1 grey_text"> <p><%= @task.desc%></p></div>



   
   <section class="artifacts_list">
      <h3 class="grey_text">Todos</h3>
      <ul>
         <% @todos.each do |todo| %>
            <li class="">

               <!-- to do : ongoing - improve - single form for all list (currently form per list item) -->
              <!--<%= form_with do |form| %>
                  <%= form.checkbox :done_at %>
                  <%= form.label :done_at, todo.title %>
                  <!--<%= link_to todo.title, todo %>
               <% end %>-->

               <%= form_with model: todo, class: "flex items_center" do |form| %>
                  <!--div>
                     <%= form.label :title %>
                     <%= form.text_field :title %>
                  </div-->
                  <div>
                  <!-- to do : if done_at filled, mark checkbox value as 1 -->
                  <!-- to do : currently, all checkboxes on this page named todo[done_at] - need to distinguish? -->
                     <%= form.checkbox :done_at %> 
                     <%= form.label :done_at, todo.title %>
                     <%= link_to todo.title, todo %>
                     <%= todo.done_at %>
                  </div>
                  <!-- to do : style update button - or set update on the checkbox itself.. -->
                  <%= form.submit class: 'inline_block' %>
               <% end %>

             
            </li>
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New todo", new_todo_path(task_id:@task.id) , class: "action_link "  if authenticated? %>
      </div>
   </section>

   <section class="flex align_end">
      <%= button_to "Delete", @task, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_task_path(@task, project_id:@project.id), class: "action_link" if authenticated? %>
   </section>

   <section>
      <!-- alternative: <%= link_to "Back to parent project",  project_path(@project) %>-->
      <%= link_to "Back to parent project", @project %>
      <%= link_to "All Tasks", tasks_path %>
   </section>

   <section>
      <ul>
         <% @comments.each do |comment| %>
            <!--li><%= link_to comment.title, comment %></li-->
            <li class="card">
               <div class="card_title_bar"><%=comment.title%></div>
               <div class="card_content"><%= comment.content %></div>
            </li>
         <% end %> 
         <div class="flex align_end">
         <%= link_to "New comment", new_comment_path(commentable_id:@task.id, commentable_type:"Task") , class: "action_link"  if authenticated? %>
         </div>
      </ul>
   </section>

</section>