<section>

   <section class="artifact_bar">
      <!--h3 class="artefact_type light_grey_text">project</h3-->
      <div>
         <%= link_to programme_path(@programme), class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="light_grey_text ">Programme</span> <%= @programme.title %></h4>
         <% end %>
         <h1><span class="light_grey_text">Project</span> <%= @project.title %></h1>
         <!--h3><span class="light_grey_text">id</span> <%= @project.id %></h3-->
      </div>
   </section>
   
   <div class="border px_1 mb_1 grey_text"> <p><%= @project.desc%></p></div>

   <section class="artifacts_list">
      <h3 class="grey_text">Tasks</h3>
      <ul>
         <% @tasks.each do |task| %>
            <li><%= link_to task.title, task %></li>
         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New task", new_task_path(project_id:@project.id) , class: "action_link"  if authenticated? %>
      </div>
   </section>

   <section class="flex align_end">    
      <%= button_to "Delete", @project, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_project_path(@project, programme_id:@programme.id), class: "action_link" if authenticated? %>  
   </section>

   <section>
      <%= link_to "Back to parent programme",  programme_path(@programme) %>
      <%= link_to "All Projects", projects_path %>
   </section>
   
   <section>
      <ul>
         <% @comments.each do |comment| %>
            <li class="card">
               <div class="card_title_bar"><%= link_to comment.title, comment %></div>
               <div class="card_content"><%= comment.content %></div>
            </li>
         <% end %>
         <div class="flex align_end">
            <%= link_to "New comment", new_comment_path(commentable_id:@project.id, commentable_type:"Project") , class: "action_link"  if authenticated? %>
         </div>
      <ul>
   </section>

</section>
