<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <!--h3 class="artfact_type light_grey_text">project</h3-->
      <div>
         <%= link_to programme_path(@programme), class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
            <h4><span class="light_grey_text ">Programme</span> <%= @programme.title %></h4>
         <% end %>
         <h1><span class="light_grey_text">Project</span> <%= @project.title %></h1>
         <!--h3><span class="light_grey_text">id</span> <%= @project.id %></h3-->
      </div>
   </section>
   

   <% # artifact desc %>
   <div class="border px_1 mb_1 grey_text"> <p><%= @project.desc%></p></div>

   
   <% # artifact childrens list %>
   <section>
      <h3 class="grey_text">Tasks</h3>
      <ul class="in_page_artifacts_list">
         <% @tasks.each do |task| %>
            
            <%= link_to task do %>
               <li>
                  <div><!-- checkbox placeholder --></div>
                  <div><%= task.title %></div>
                  <% if(task.desc.nil?) then  %>
                     <div>&nbsp;</div>
                  <% else %>
                     <div><%=task.desc%></div>
                  <% end %>
                  <div><%= task.created_at.strftime("%a %-d %b %Y %H:%M") %></div>
               </li>
            <% end %>

         <% end %>
      </ul>
      <div class="flex align_end">
         <%= link_to "New task", new_task_path(project_id:@project.id) , class: "action_link"  if authenticated? %>
      </div>
   </section>


   <% # artifact ctrls %>
   <section class="flex align_end">    
      <%= button_to "Delete", @project, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_project_path(@project, programme_id:@programme.id), class: "action_link" if authenticated? %>  
   </section>
   <section>
      <%= link_to "Back to parent programme",  programme_path(@programme) %>
      <%= link_to "All Projects", projects_path %>
   </section>
   

   <% # artifact comments %>
   <%= render partial: "comments", locals: {  } %>


</section>
