<section>

   <section class="artifact_bar">
      <div>
         <h4><span class="grey_text">Task</span> <%= @task.title %></h4>
         <h1><span class="grey_text">Todo</span> <%= @todo.title %></h1>
         <!--h3><span class="grey_text">id</span> <%= @todo.id %></h3-->
      </div>
   </section>

   <section>
   
      <%= link_to "Back to parent task",  task_path(@task) %>
      <%= link_to "Back", todos_path %>
      
      <%= link_to "Edit", edit_todo_path(@todo, task_id:@task.id) %>

   </section>

   <section>
      <%= button_to "Delete", @todo, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
   </section>

</section>