<section>

   <% # artifact bar %>
   <section class="artifact_bar">
      <div>
         <%= link_to project_path(@project), class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
               <h5><span class="grey_text">Project</span> <%= @project.title %></h5>
            <!/div-->
         <% end %>
         <%= link_to task_path(@task), class: "p_0.25 m_0 no_decor inline_block hover_highlight" do %>
               <h4><span class="grey_text">Task</span> <%= @task.title %></h4>
            <!/div-->
         <% end %>
         <h1><%= @todo.title %></h1>
         <h3><span class="light_grey_text">id</span> <%= @todo.id %></h3>
         <h3><span class="grey_text">done_at</span> <%= @todo.done_at %></h3>
      </div>
   </section>

   <% # artifact ctrls %>
   <section class="flex align_end">        
      <%= button_to "Delete", @todo, method: :delete, class:"action_link" , data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_todo_path(@todo, task_id:@task.id) , class: "action_link" if authenticated? %>    
   </section>

   <section>
      <%= link_to "Back to parent task",  task_path(@task) %>
      <%= link_to "All Todos", todos_path %>
   </section>


   <!-- to do : this block is duplicated in all artifact show.html.erb files -->
   <% # artifact comments %>
   <section>
      <ul>
         <% @comments.each do |comment| %>
            <li class="card">
               <div class="card_title_bar"><%= link_to comment.title, comment %></div>
               <div class="card_content"><%= comment.content %></div>
            </li>
         <% end %>
         <div class="flex align_end">
         <%= link_to "New comment", new_comment_path(commentable_id:@todo.id, commentable_type:"Todo") , class: "action_link"  if authenticated? %>
         </div>

      </ul>
   </section>

</section>